{% macro render_field(field) %}
    {% if (field.type == "FloatField" or field.type == "IntegerField") %}
        {% if field.errors %}
            {{ field.label }}
            {{ field(class="form-control is-invalid", **kwargs)|safe }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
        {{ field.label }}
        {{ field(class="form-control", **kwargs)|safe }}        
        {% endif %}
    {% endif %}
    {% if field.type == "BooleanField" %}
        {% if field.errors %}
        {{ field(class="form-check-input is-invalid", **kwargs)|safe }}{{ field.label }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
        {{ field(class="form-check-input", **kwargs)|safe }} {{ field.label }}        
        {% endif %}
    {% endif %}
    {% if field.type == "SelectField" %}
        {% if field.errors %}
        {{ field(class="form-select is-invalid", **kwargs)|safe }}{{ field.label }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
        {{ field.label }}
        {{ field(class="form-select", **kwargs)|safe }}        
        {% endif %}
    {% endif %}
    {% if field.type == "FileField" %}
        {% if field.errors %}
        {{ field(class="form-control is-invalid", **kwargs)|safe }}{{ field.label }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
        {{ field.label }}
        {{ field(class="form-select", **kwargs)|safe }}        
        {% endif %}
    {% endif %}
{% endmacro %}