{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    MOONS ETC
{% endblock %}

{% block content %}

<div class="container">
    <h3>MOONS Exposure Time Calculator</h3>
    <hr>
    <form action="" method="post" class="form" role="form", enctype="multipart/form-data">
    {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-md-3">
                <h4> Target </h4>
                <hr>
                {{ wtf.form_field(form.template_name, class='form-control', type='file') }}
            </div>
            <div class="form-group col-md-3">
                <h4> Instrument </h4>
                <hr>
                {{ wtf.form_field(form.moons_mode, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                <h4> Simulation </h4>
                <hr>
                {{ wtf.form_field(form.sky_template, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                <h4> Conditions </h4>
                <hr>
                {{ wtf.form_field(form.seeing, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.upload_template, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.strategy, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.sky_residual, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.airmass, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.filter, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.atm_dif_ref, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.telluric, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.mag_system, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.exptime, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.flux_calib, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.reddening, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.N_exp, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.displacement, class='form-control') }}
            </div>
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.dit, class='form-control') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ wtf.form_field(form.magnitude, class='form-control') }}
            </div>
        </div>
        <h4>Plots to Display</h4>
        {{ wtf.form_field(form.sn, class='form-control') }}
        {{ wtf.form_field(form.trans, class='form-control') }}
        {{ wtf.form_field(form.obj_spec, class='form-control') }}
        {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
    </form>
</div>
{% endblock %}